name: Build Gradle CI workflow

on:
  pull_request:
    branches:
      - main
      - dev
env:
  USERNAME: ${{ secrets.PUBLISH_USER }}
  TOKEN: ${{ secrets.PUBLISH_TOKEN }}

jobs:
  build:
    uses: PrintScript-IngSis/snippet-actions/.github/workflows/build-gradle-ci.yml@main
    secrets:
      USERNAME: ${{ secrets.PUBLISH_USER }}
      TOKEN: ${{ secrets.PUBLISH_TOKEN }}
